:root {
  --primary-color: #13be98;
  --text-color: #ffffff;
  --text-color-light: #787975;
  --background-color-light: #fbfbfb;
  --background-color-dark: #153e52;
  --background-color-textbox: #787975;
  --background-color-callme: #153e52;
}
